## Cose utili

Per dati numerici e serie temporali

In [18]:
# Import KNN from fancyimpute
from fancyimpute import KNN

# Copy diabetes to diabetes_knn_imputed
diabetes_knn_imputed = diabetes.copy(deep=True)

# Initialize KNN
knn_imputer = KNN()

# Impute using fit_tranform on diabetes_knn_imputed
diabetes_knn_imputed.iloc[:, :] = knn_imputer.fit_transform(diabetes_knn_imputed)

NameError: name 'diabetes' is not defined

In [ ]:
# Import IterativeImputer from fancyimpute
from fancyimpute import IterativeImputer 

# Copy diabetes to diabetes_mice_imputed
diabetes_mice_imputed = diabetes.copy(deep=True)

# Initialize IterativeImputer
mice_imputer = IterativeImputer()

# Impute using fit_tranform on diabetes
diabetes_mice_imputed.iloc[:, :] = mice_imputer.fit_transform(diabetes)

Per dati categorici

In [ ]:
# Create Ordinal encoder
ambience_ord_enc = OrdinalEncoder()

# Select non-null values of ambience column in users
ambience = users['ambience']
ambience_not_null = ambience[ambience.notnull()]

# Reshape ambience_not_null to shape (-1, 1)
reshaped_vals = ambience_not_null.values.reshape(-1,1)

# Ordinally encode reshaped_vals
encoded_vals = ambience_ord_enc.fit_transform(reshaped_vals)

# Assign back encoded values to non-null values of ambience in users
users.loc[ambience.notnull(), 'ambience'] = np.squeeze(encoded_vals)

In [44]:
# Create an empty dictionary ordinal_enc_dict
ordinal_enc_dict = {}

for col_name in users:
    # Create Ordinal encoder for col
    ordinal_enc_dict[col_name] = OrdinalEncoder()
    col = data_catg[col_name]
    
    # Select non-null values of col
    col_not_null = col[col.notnull()]
    reshaped_vals = col_not_null.values.reshape(-1, 1)
    encoded_vals = ordinal_enc_dict[col_name].fit_transform(reshaped_vals)
    
    # Store the values to non-null values of the column in users
    users.loc[col.notnull(), col_name] = np.squeeze(encoded_vals)

NameError: name 'OrdinalEncoder' is not defined

In [ ]:
# Create KNN imputer
KNN_imputer = KNN()

# Impute and round the users DataFrame
users.iloc[:, :] = np.round(KNN_imputer.fit_transform(users))

# Loop over the column names in users
for col_name in users:
    
    # Reshape the data
    reshaped = users[col_name].values.reshape(-1, 1)
    
    # Perform inverse transform of the ordinally encoded columns
    users[col_name] = ordinal_enc_dict[col_name].inverse_transform(reshaped)

## Testo sui nostri dati

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

np.random.seed(130298)

In [2]:
data = pd.read_csv('/Users/Nicole/OneDrive - Politecnico di Milano/Corsi/SL_health_care/project_heart_failure/example.csv')
data.set_index('inpatient.number', inplace = True)

In [3]:
data.head()

,DestinationDischarge,admission.ward,admission.way,occupation,discharge.department,visit.times,gender,body.temperature,pulse,respiration,...,total.bilirubin,total.bile.acid,total.protein,cholesterol,low.density.lipoprotein.cholesterol,triglyceride,high.density.lipoprotein.cholesterol,GCS,dischargeDay,ageCat
inpatient.number,,,,,,,,,,,,,,,,,,,,,
857781,Home,Cardiology,NonEmergency,UrbanResident,Cardiology,1,Male,36.7,87.0,19.0,...,18.3,4.9,61.9,3.46,1.90,2.69,0.84,15,11,"(69,79]"
743087,Home,Cardiology,NonEmergency,UrbanResident,Cardiology,1,Female,36.8,95.0,18.0,...,18.3,2.4,66.1,3.15,1.26,0.84,1.30,15,8,"(69,79]"
866418,Home,Cardiology,NonEmergency,farmer,Cardiology,2,Male,36.5,98.0,18.0,...,11.9,2.4,60.8,3.79,2.13,1.53,0.94,15,5,"(59,69]"
775928,Home,Cardiology,Emergency,UrbanResident,Cardiology,1,Male,36.0,73.0,19.0,...,51.6,9.4,67.1,2.92,1.31,0.92,0.98,15,11,"(69,79]"
810128,Home,Cardiology,NonEmergency,UrbanResident,Cardiology,1,Female,35.0,88.0,19.0,...,11.8,3.3,71.9,2.68,1.21,0.62,0.91,15,5,"(69,79]"

In [4]:
# Import KNN from fancyimpute
from fancyimpute import KNN

Divido il dataset in un dataset costituito da variabili continue e uno categoriche

In [48]:
categorical_columns = ['DestinationDischarge','admission.ward','admission.way','occupation','discharge.department','visit.times',
                       'gender', 'type.of.heart.failure', 'NYHA.cardiac.function.classification', 'Killip.grade','CCI.score',
                       'consciousness','eye.opening','verbal.response', 'movement','oxygen.inhalation', 'outcome.during.hospitalization',
                       'GCS','ageCat']

prova = categorical_columns.copy()
binary_columns = ['myocardial.infarction', 'congestive.heart.failure', 'peripheral.vascular.disease',
                  'cerebrovascular.disease', 'dementia', 'Chronic.obstructive.pulmonary.disease',
                  'peptic.ulcer.disease', 'diabetes', 'moderate.to.severe.chronic.kidney.disease',
                  'solid.tumor', 'liver.disease', 'type.II.respiratory.failure', 'death.within.28.days', 're.admission.within.28.days', 
                  'death.within.3.months','re.admission.within.3.months', 'death.within.6.months', 're.admission.within.6.months',
                  'return.to.emergency.department.within.6.months','respiratory.support.']
# NB 'respiratory.support.' is in the binary variables because we will rebin it in 0/1

prova.extend(binary_columns)

Creo dataset con variabili continue

In [44]:
continuous_columns = [col_name for col_name in data.columns if col_name not in prova]
cont_data = data[continuous_columns].copy()

In [45]:
cont_data.head()

,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,weight,BMI,fio2,left.ventricular.end.diastolic.diameter.LV,...,globulin,direct.bilirubin,total.bilirubin,total.bile.acid,total.protein,cholesterol,low.density.lipoprotein.cholesterol,triglyceride,high.density.lipoprotein.cholesterol,dischargeDay
inpatient.number,,,,,,,,,,,,,,,,,,,,,
857781,36.7,87.0,19.0,102.0,64.0,76.666667,50.0,18.590125,33,NaN,...,23.8,6.9,18.3,4.9,61.9,3.46,1.90,2.69,0.84,11
743087,36.8,95.0,18.0,150.0,70.0,96.666667,51.0,19.195303,33,40.0,...,25.4,5.2,18.3,2.4,66.1,3.15,1.26,0.84,1.30,8
866418,36.5,98.0,18.0,102.0,67.0,78.666667,70.0,24.221453,33,46.0,...,27.7,4.4,11.9,2.4,60.8,3.79,2.13,1.53,0.94,5
775928,36.0,73.0,19.0,110.0,74.0,86.000000,65.0,22.491349,33,NaN,...,27.0,25.4,51.6,9.4,67.1,2.92,1.31,0.92,0.98,11
810128,35.0,88.0,19.0,134.0,62.0,86.000000,76.0,31.633715,33,64.0,...,29.6,4.9,11.8,3.3,71.9,2.68,1.21,0.62,0.91,5

Creo dataset con variabili categoriche e binarie

In [58]:
#VOGLIO CONVERTIRE CCI SCORE IN INT MA NON RIESCOOOOOOO .((((
data["CCI.score"]=data.loc[data["CCI.score"].notnull(),"CCI.score"].astype(int)
data["CCI.score"].head()

inpatient.number
857781    2.0
743087    0.0
866418    0.0
775928    2.0
810128    0.0
Name: CCI.score, dtype: float64

In [55]:
# convert to categorical
cat_data = data[categorical_columns]
cat_data = pd.get_dummies(cat_data)

In [56]:
cat_data.join(data[binary_columns])

,visit.times,CCI.score,eye.opening,verbal.response,movement,GCS,DestinationDischarge_Died,DestinationDischarge_HealthcareFacility,DestinationDischarge_Home,admission.ward_Cardiology,...,liver.disease,type.II.respiratory.failure,death.within.28.days,re.admission.within.28.days,death.within.3.months,re.admission.within.3.months,death.within.6.months,re.admission.within.6.months,return.to.emergency.department.within.6.months,respiratory.support.
inpatient.number,,,,,,,,,,,,,,,,,,,,,
857781,1,2.0,4,5,6,15,0,0,1,1,...,0.0,NonTypeII,0,0,0,0,0,0,0.0,None
743087,1,0.0,4,5,6,15,0,0,1,1,...,0.0,NonTypeII,0,0,0,0,0,0,0.0,None
866418,2,0.0,4,5,6,15,0,0,1,1,...,0.0,NonTypeII,0,0,0,0,0,0,0.0,None
775928,1,2.0,4,5,6,15,0,0,1,1,...,0.0,NonTypeII,0,1,0,1,0,1,1.0,None
810128,1,0.0,4,5,6,15,0,0,1,1,...,0.0,NonTypeII,0,0,0,0,0,0,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740689,1,2.0,4,5,6,15,0,1,0,0,...,0.0,NonTypeII,0,0,0,0,0,0,0.0,None
734280,1,1.0,4,5,6,15,0,1,0,0,...,0.0,NonTypeII,0,0,0,0,0,0,0.0,None
781004,1,2.0,4,5,6,15,0,1,0,1,...,0.0,NonTypeII,0,0,0,1,0,1,1.0,None
744870,1,2.0,1,1,1,3,0,0,0,1,...,0.0,NonTypeII,1,0,1,0,1,0,0.0,IMV
791864,1,2.0,4,5,6,15,0,0,1,1,...,0.0,NonTypeII,0,0,0,0,0,0,0.0,None

In [11]:
missing_perc = cat_data.isnull().sum()
missing_perc

visit.times                                             0
CCI.score                                               5
eye.opening                                             0
verbal.response                                         0
movement                                                0
GCS                                                     0
DestinationDischarge_Died                               0
DestinationDischarge_HealthcareFacility                 0
DestinationDischarge_Home                               0
admission.ward_Cardiology                               0
admission.ward_GeneralWard                              0
admission.ward_ICU                                      0
admission.ward_Others                                   0
admission.way_Emergency                                 0
admission.way_NonEmergency                              0
occupation_Officer                                      0
occupation_Others                                       0
occupation_UrbanResident                                0
occupation_farmer                                       0
occupation_worker                                       0
discharge.department_Cardiology                         0
discharge.department_GeneralWard                        0
discharge.department_ICU                                0
discharge.department_Others                             0
gender_Female                                           0
gender_Male                                             0
type.of.heart.failure_Both                              0
type.of.heart.failure_Left                              0
type.of.heart.failure_Right                             0
NYHA.cardiac.function.classification_II                 0
NYHA.cardiac.function.classification_III                0
NYHA.cardiac.function.classification_IV                 0
Killip.grade_I                                          0
Killip.grade_II                                         0
Killip.grade_III                                        0
Killip.grade_IV                                         0
consciousness_Clear                                     0
consciousness_Nonresponsive                             0
consciousness_ResponsiveToPain                          0
consciousness_ResponsiveToSound                         0
oxygen.inhalation_AmbientAir                            0
oxygen.inhalation_OxygenTherapy                         0
outcome.during.hospitalization_Alive                    0
outcome.during.hospitalization_Dead                     0
outcome.during.hospitalization_DischargeAgainstOrder    0
ageCat_(21,29]                                          0
ageCat_(29,39]                                          0
ageCat_(39,49]                                          0
ageCat_(49,59]                                          0
ageCat_(59,69]                                          0
ageCat_(69,79]                                          0
ageCat_(79,89]                                          0
ageCat_(89,110]                                         0
dtype: int64

## Dataset con variabili continue

In [10]:
# Copy database to data_knn_imputed
data_knn_imputed = cont_data.copy(deep=True)

# Initialize KNN
knn_imputer = KNN()

# Impute using fit_tranform on diabetes_knn_imputed
data_knn_imputed.iloc[:, :] = knn_imputer.fit_transform(data_knn_imputed)

Imputing row 1/2008 with 1 missing, elapsed time: 1.828
Imputing row 101/2008 with 4 missing, elapsed time: 1.837
Imputing row 201/2008 with 0 missing, elapsed time: 1.844
Imputing row 301/2008 with 0 missing, elapsed time: 1.852
Imputing row 401/2008 with 0 missing, elapsed time: 1.860
Imputing row 501/2008 with 0 missing, elapsed time: 1.868
Imputing row 601/2008 with 1 missing, elapsed time: 1.878
Imputing row 701/2008 with 1 missing, elapsed time: 1.888
Imputing row 801/2008 with 1 missing, elapsed time: 1.895
Imputing row 901/2008 with 4 missing, elapsed time: 1.905
Imputing row 1001/2008 with 1 missing, elapsed time: 1.913
Imputing row 1101/2008 with 4 missing, elapsed time: 1.921
Imputing row 1201/2008 with 1 missing, elapsed time: 1.929
Imputing row 1301/2008 with 0 missing, elapsed time: 1.938
Imputing row 1401/2008 with 4 missing, elapsed time: 1.946
Imputing row 1501/2008 with 0 missing, elapsed time: 1.953
Imputing row 1601/2008 with 2 missing, elapsed time: 1.960
Imputing row 1701/2008 with 0 missing, elapsed time: 1.970
Imputing row 1801/2008 with 0 missing, elapsed time: 1.977
Imputing row 1901/2008 with 0 missing, elapsed time: 1.988
Imputing row 2001/2008 with 17 missing, elapsed time: 1.996

Dataset con imputazioni tramite KNN

In [11]:
data_knn_imputed.head()

,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,weight,BMI,fio2,left.ventricular.end.diastolic.diameter.LV,...,globulin,direct.bilirubin,total.bilirubin,total.bile.acid,total.protein,cholesterol,low.density.lipoprotein.cholesterol,triglyceride,high.density.lipoprotein.cholesterol,dischargeDay
inpatient.number,,,,,,,,,,,,,,,,,,,,,
857781,36.7,87.0,19.0,102.0,64.0,76.666667,50.0,18.590125,33.0,63.982024,...,23.8,6.9,18.3,4.9,61.9,3.46,1.90,2.69,0.84,11.0
743087,36.8,95.0,18.0,150.0,70.0,96.666667,51.0,19.195303,33.0,40.000000,...,25.4,5.2,18.3,2.4,66.1,3.15,1.26,0.84,1.30,8.0
866418,36.5,98.0,18.0,102.0,67.0,78.666667,70.0,24.221453,33.0,46.000000,...,27.7,4.4,11.9,2.4,60.8,3.79,2.13,1.53,0.94,5.0
775928,36.0,73.0,19.0,110.0,74.0,86.000000,65.0,22.491349,33.0,58.396391,...,27.0,25.4,51.6,9.4,67.1,2.92,1.31,0.92,0.98,11.0
810128,35.0,88.0,19.0,134.0,62.0,86.000000,76.0,31.633715,33.0,64.000000,...,29.6,4.9,11.8,3.3,71.9,2.68,1.21,0.62,0.91,5.0

In [12]:
# Import IterativeImputer from fancyimpute
from fancyimpute import IterativeImputer 

# Copy diabetes to diabetes_mice_imputed
data_mice_imputed = cont_data.copy(deep=True)

# Initialize IterativeImputer
mice_imputer = IterativeImputer()

# Impute using fit_tranform on diabetes
data_mice_imputed.iloc[:, :] = mice_imputer.fit_transform(data_mice_imputed)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/impute/_iterative.py:699: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

Mice non converge :(, infatti avevo letto che non era stabile su python.

## Dataset con variabili categoriche

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [14]:
# Create KNN imputer
KNN_imputer = KNN()

cat_data_imputed=cat_data.copy(deep=True)

# Impute and round the users DataFrame
cat_data_imputed.iloc[:, :] = np.round(KNN_imputer.fit_transform(cat_data))

Imputing row 1/2008 with 0 missing, elapsed time: 1.108
Imputing row 101/2008 with 0 missing, elapsed time: 1.108
Imputing row 201/2008 with 0 missing, elapsed time: 1.109
Imputing row 301/2008 with 0 missing, elapsed time: 1.109
Imputing row 401/2008 with 0 missing, elapsed time: 1.110
Imputing row 501/2008 with 0 missing, elapsed time: 1.111
Imputing row 601/2008 with 0 missing, elapsed time: 1.111
Imputing row 701/2008 with 0 missing, elapsed time: 1.111
Imputing row 801/2008 with 0 missing, elapsed time: 1.112
Imputing row 901/2008 with 0 missing, elapsed time: 1.112
Imputing row 1001/2008 with 0 missing, elapsed time: 1.113
Imputing row 1101/2008 with 0 missing, elapsed time: 1.113
Imputing row 1201/2008 with 0 missing, elapsed time: 1.114
Imputing row 1301/2008 with 0 missing, elapsed time: 1.114
Imputing row 1401/2008 with 0 missing, elapsed time: 1.114
Imputing row 1501/2008 with 0 missing, elapsed time: 1.115
Imputing row 1601/2008 with 0 missing, elapsed time: 1.115
Imputing row 1701/2008 with 0 missing, elapsed time: 1.115
Imputing row 1801/2008 with 0 missing, elapsed time: 1.116
Imputing row 1901/2008 with 0 missing, elapsed time: 1.116
Imputing row 2001/2008 with 0 missing, elapsed time: 1.116

In [15]:
missing_perc = cat_data.isnull().sum()/len(cat_data)
missing_perc

visit.times                                             0.00000
CCI.score                                               0.00249
eye.opening                                             0.00000
verbal.response                                         0.00000
movement                                                0.00000
GCS                                                     0.00000
DestinationDischarge_Died                               0.00000
DestinationDischarge_HealthcareFacility                 0.00000
DestinationDischarge_Home                               0.00000
admission.ward_Cardiology                               0.00000
admission.ward_GeneralWard                              0.00000
admission.ward_ICU                                      0.00000
admission.ward_Others                                   0.00000
admission.way_Emergency                                 0.00000
admission.way_NonEmergency                              0.00000
occupation_Officer                                      0.00000
occupation_Others                                       0.00000
occupation_UrbanResident                                0.00000
occupation_farmer                                       0.00000
occupation_worker                                       0.00000
discharge.department_Cardiology                         0.00000
discharge.department_GeneralWard                        0.00000
discharge.department_ICU                                0.00000
discharge.department_Others                             0.00000
gender_Female                                           0.00000
gender_Male                                             0.00000
type.of.heart.failure_Both                              0.00000
type.of.heart.failure_Left                              0.00000
type.of.heart.failure_Right                             0.00000
NYHA.cardiac.function.classification_II                 0.00000
NYHA.cardiac.function.classification_III                0.00000
NYHA.cardiac.function.classification_IV                 0.00000
Killip.grade_I                                          0.00000
Killip.grade_II                                         0.00000
Killip.grade_III                                        0.00000
Killip.grade_IV                                         0.00000
consciousness_Clear                                     0.00000
consciousness_Nonresponsive                             0.00000
consciousness_ResponsiveToPain                          0.00000
consciousness_ResponsiveToSound                         0.00000
oxygen.inhalation_AmbientAir                            0.00000
oxygen.inhalation_OxygenTherapy                         0.00000
outcome.during.hospitalization_Alive                    0.00000
outcome.during.hospitalization_Dead                     0.00000
outcome.during.hospitalization_DischargeAgainstOrder    0.00000
ageCat_(21,29]                                          0.00000
ageCat_(29,39]                                          0.00000
ageCat_(39,49]                                          0.00000
ageCat_(49,59]                                          0.00000
ageCat_(59,69]                                          0.00000
ageCat_(69,79]                                          0.00000
ageCat_(79,89]                                          0.00000
ageCat_(89,110]                                         0.00000
dtype: float64

In [15]:
cat_data_imputed["CCI.score"]

inpatient.number
857781    2.0
743087    0.0
866418    0.0
775928    2.0
810128    0.0
         ...
740689    2.0
734280    1.0
781004    2.0
744870    2.0
791864    2.0
Name: CCI.score, Length: 2008, dtype: float64